<a href="https://colab.research.google.com/github/sharmaraja/AI-Tools/blob/main/Stock_data_API_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

API Testing:
- Hit APIs and check data
- See what all we can get from it

In [3]:
!pip install apify-client python-dotenv requests

Collecting apify-client
  Downloading apify_client-2.4.1-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.12/dist-packages (1.2.1)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Collecting apify-shared<3.0.0,>=2.1.0 (from apify-client)
  Downloading apify_shared-2.2.0-py3-none-any.whl.metadata (14 kB)
Collecting colorama>=0.4.0 (from apify-client)
  Downloading colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Collecting impit>=0.9.2 (from apify-client)
  Downloading impit-0.11.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.9 kB)
Requirement already satisfied: more-itertools>=10.0.0 in /usr/local/lib/python3.12/dist-packages (from apify-client) (10.8.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2026.1.4)
Downloading apify_client-2.4.1-py3-none-any.whl (86 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.4/86.4 kB 2.2 MB/s eta 0:00:00
Downloading apify_shared-2.2.0-py3-none-any.whl (16 kB)
Downloading colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Downloading impit-0.11.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.0/4.0 MB 21.3 MB/s eta 0:00:00
Installing collected packages: impit, colorama, apify-shared, apify-client
Successfully installed apify-client-2.4.1 apify-shared-2.2.0 colorama-0.4.6 impit-0.11.0

In [4]:
import os
import requests
from dotenv import load_dotenv
from datetime import datetime
from bs4 import BeautifulSoup

import pandas as pd
from apify_client import ApifyClient
from google.colab import userdata

**Code for Apify Data**

In [6]:
apify_key = userdata.get('APIFY_API_KEY')
if apify_key:
    print("APIFY_API_KEY value fetched")

APIFY_API_KEY value fetched

In [7]:
# 1. Initialize the Apify Client
client = ApifyClient(apify_key)

In [11]:
ticker = "TATASTEEL"
# "url": "https://www.screener.in/company/TATASTEEL/consolidated/"
# Construct the URL dynamically
target_url = f"https://www.screener.in/company/{ticker}/consolidated/"

run_input = {
    "mode": "getstockdetails",
    "url": target_url,
    "maxPagesPerCrawl": 1
}

# 3. Run the Actor and wait for it to finish
print("Starting data extraction...")
run = client.actor("shashwattrivedi/screener-in").call(run_input=run_input)

# 4. Fetch the results from the dataset
dataset_items = list(client.dataset(run["defaultDatasetId"]).iterate_items())

if not dataset_items:
    print("No data found.")
else:
    # 5. Extract specific statements into a DataFrame
    # The actor typically returns a single item containing nested financial tables
    # stock_data = dataset_items[0]

    # 1. Extract the main dictionary
    stock_info = dataset_items[0]

    def json_to_dataframe(source_data):
        """Converts the 'Metric' style list of dicts into a clean DataFrame"""
        if not source_data:
            return pd.DataFrame()

        df = pd.DataFrame(source_data)
        # Set the 'Metric' column as the row names (index)
        if 'Metric' in df.columns:
            df.set_index('Metric', inplace=True)
        return df

    # 2. Extract specific statements
    # Profit & Loss (extracted from the 'annual_data' sub-key)
    df_pl = json_to_dataframe(stock_info.get('profit_and_loss', {}).get('annual_data', []))

    # Balance Sheet
    df_bs = json_to_dataframe(stock_info.get('balance_sheet', []))

    # Cash Flow (The key from your previous log was 'cash_flow')
    df_cf = json_to_dataframe(stock_info.get('cash_flow', []))

Starting data extraction...

[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> Status: RUNNING, Message:
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:56:35.697Z ACTOR: Pulling container image of build 1XmCLWfkIoPCAnUl8 from registry.
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:56:57.891Z ACTOR: Creating container.
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:56:58.011Z ACTOR: Starting container.
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:56:58.296Z Will run command: xvfb-run -a -s "-ac -screen 0 1920x1080x24+32 -nolisten tcp" python3 -m src
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:00.206Z Actor is running on the Apify platform, `disable_browser_sandbox` was changed to True.
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:00.404Z [apify] INFO  Initializing Actor...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:00.410Z [apify] INFO  System info ({"apify_sdk_version": "2.7.3", "apify_client_version": "1.12.2", "crawlee_version": "0.6.12", "python_version": "3.13.6", "os": "linux"})
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:02.941Z Successfully navigated to https://www.screener.in/company/TATASTEEL/consolidated/
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:03.079Z Parsing Peers...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:03.550Z Parsing Quarters...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:05.638Z Parsing Profit & Loss...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:08.148Z Parsing Balance Sheet...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:14.744Z Parsing Cash Flow...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:17.824Z Parsing Ratios...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:22.215Z Parsing Shareholding...
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> 2026-02-16T10:57:35.347Z [apify] INFO  Exiting Actor ({"exit_code": 0})
[apify.screener-in runId:QI9X75E6kXtMbZcX9] -> Status: SUCCEEDED, Message:

In [12]:
target_url

'https://www.screener.in/company/TATASTEEL/consolidated/'

In [13]:
df_pl

,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024,Mar 2025,TTM
Metric,,,,,,,,,,,,,
Sales,148614.00,139504.00,101965.00,112299.00,123249.00,157669.00,139817.00,156294.00,243959.00,243353.00,229171.00,218543.00,225088.00
Expenses,132430.00,136095.00,102590.00,99156.00,101816.00,128351.00,122354.00,125790.00,180469.00,211053.00,206923.00,193244.00,194005.00
Operating Profit,16184.00,3409.00,-625.00,13144.00,21433.00,29318.00,17463.00,30504.00,63490.00,32300.00,22248.00,25298.00,31083.00
OPM %,11.00,2.00,-1.00,12.00,17.00,19.00,12.00,20.00,26.00,13.00,10.00,12.00,14.00
Other Income,716.00,5994.00,10346.00,-3789.00,10898.00,1524.00,-2884.00,180.00,1300.00,1569.00,-6005.00,877.00,845.00
Interest,4337.00,4848.00,4221.00,5072.00,5455.00,7660.00,7533.00,7607.00,5462.00,6299.00,7508.00,7341.00,7163.00
Depreciation,5841.00,5944.00,5306.00,5673.00,5742.00,7342.00,8441.00,9234.00,9101.00,9335.00,9882.00,10421.00,11406.00
Profit before tax,6722.00,-1388.00,193.00,-1391.00,21135.00,15841.00,-1395.00,13844.00,50227.00,18235.00,-1147.00,8413.00,13358.00
Tax %,45.00,185.00,358.00,200.00,16.00,42.00,-184.00,41.00,17.00,56.00,328.00,62.00,NaN
Net Profit,3665.00,-3939.00,-497.00,-4169.00,17743.00,9122.00,1174.00,8190.00,41749.00,8075.00,-4910.00,3174.00,9122.00
EPS in Rs,3.19,-3.48,-0.34,-3.76,11.93,9.07,1.38,6.26,32.88,7.17,-3.55,2.74,7.33
Dividend Payout %,27.00,-20.00,-203.00,-23.00,9.00,15.00,74.00,40.00,16.00,50.00,-101.00,131.00,NaN

In [14]:
df_bs

,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024,Mar 2025,Sep 2025
Metric,,,,,,,,,,,,,
Equity Capital,971,971,970,970,1145,1145,1145,1198,1221,1221,1247,1247,1247
Reserves,39561,30378,42762,36849,59726,67780,72431,73041,113222,101861,90788,89922,93700
Borrowings,81629,80701,81987,83014,92147,100816,116328,88501,75561,84893,87082,94801,95643
Other Liabilities,49443,47059,51165,51614,55704,63032,59245,81169,92417,97421,90195,89488,94975
Total Liabilities,171604,159109,176884,172447,208722,232773,249149,243909,282422,285396,269312,275459,285565
Fixed Assets,74907,68100,72200,92007,96105,124442,134551,135775,133288,146621,148814,150914,166095
CWIP,26822,28678,35996,15784,16614,18641,19497,19007,22046,31213,34356,41622,33152
Investments,5093,3455,10714,12457,17899,5738,6285,10682,13140,8410,6258,6194,6903
Other Assets,64781,58876,57974,52200,78103,83952,88816,78445,113948,99151,79885,76728,79415
Total Assets,171604,159109,176884,172447,208722,232773,249149,243909,282422,285396,269312,275459,285565

In [15]:
df_cf

,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024,Mar 2025
Metric,,,,,,,,,,,,
Cash from Operating Activity,13146,11880,11455,10824,8023,25336,20169,44327,44381,21683,20301,23512
Cash from Investing Activity,-15378,-9021,-8794,-9490,-11730,-29176,-14012,-9437,-10905,-18179,-14253,-13985
Cash from Financing Activity,1015,-2617,-4729,-2579,6640,-673,-1695,-37090,-23401,-6981,-11097,-7002
Net Cash Flow,-1218,241,-2068,-1245,2933,-4513,4462,-2200,10075,-3477,-5049,2524

In [17]:
stock_data = dataset_items[0]

In [18]:
# Assuming 'stock_data' is the dictionary you received
company_name = stock_data.get('company_name', 'N/A')
print(f"Company: {company_name}")

Company: Tata Steel Ltd

In [19]:
# Convert the 'quarters' list into a DataFrame
df_quarters = pd.DataFrame(stock_data.get('quarters', []))

# Set 'Metric' as the index so quarters (Dec 2022, etc.) are your columns
if not df_quarters.empty:
    df_quarters.set_index('Metric', inplace=True)

print("\n--- Quarterly Results ---")
print(df_quarters.head())

--- Quarterly Results ---
                  Dec 2022  Mar 2023  Jun 2023  Sep 2023  Dec 2023  Mar 2024  \
Metric
Sales              57084.0   62962.0   59490.0   55682.0   55312.0   58687.0
Expenses           53036.0   55742.0   54587.0   51414.0   49048.0   52087.0
Operating Profit    4048.0    7219.0    4903.0    4268.0    6264.0    6601.0
OPM %                  7.0      11.0       8.0       8.0      11.0      11.0
Other Income         491.0     277.0    1190.0   -6568.0     -33.0    -382.0

                  Jun 2024  Sep 2024  Dec 2024  Mar 2025  Jun 2025  Sep 2025  \
Metric
Sales              54771.0   53905.0   53648.0   56218.0   53178.0   58689.0
Expenses           48077.0   47789.0   47745.0   49659.0   45751.0   49793.0
Operating Profit    6694.0    6116.0    5903.0    6559.0    7428.0    8897.0
OPM %                 12.0      11.0      11.0      12.0      14.0      15.0
Other Income          -6.0     617.0     142.0     149.0     236.0      -6.0

                  Dec 2025
Metric
Sales              57002.0
Expenses           48803.0
Operating Profit    8200.0
OPM %                 14.0
Other Income         465.0

In [20]:
# Extract peer median data if available
peers_data = stock_data.get('peers', [])
if len(peers_data) > 1:
    median_summary = peers_data[1].get('median_summary', [])
    print(f"\nIndustry Median Stats: {median_summary}")

Industry Median Stats: [None, 'Median: 13 Co.', 132.05, 21.07, 11854.35, 0.23, 86.85, 30.02, 1353.35, 9.82, 8.83]

In [24]:
len(dataset_items)

1

In [21]:
# 1. FIX: QUARTERLY RESULTS DATAFRAME
df_quarters = pd.DataFrame(stock_data.get('quarters', []))
if not df_quarters.empty:
    df_quarters.set_index('Metric', inplace=True)
df_quarters.head()

,Dec 2022,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025,Jun 2025,Sep 2025,Dec 2025
Metric,,,,,,,,,,,,,
Sales,57084.0,62962.0,59490.0,55682.0,55312.0,58687.0,54771.0,53905.0,53648.0,56218.0,53178.0,58689.0,57002.0
Expenses,53036.0,55742.0,54587.0,51414.0,49048.0,52087.0,48077.0,47789.0,47745.0,49659.0,45751.0,49793.0,48803.0
Operating Profit,4048.0,7219.0,4903.0,4268.0,6264.0,6601.0,6694.0,6116.0,5903.0,6559.0,7428.0,8897.0,8200.0
OPM %,7.0,11.0,8.0,8.0,11.0,11.0,12.0,11.0,11.0,12.0,14.0,15.0,14.0
Other Income,491.0,277.0,1190.0,-6568.0,-33.0,-382.0,-6.0,617.0,142.0,149.0,236.0,-6.0,465.0

In [23]:
# 1. FIX: SHAREHOLDING (Unpacking the nested 'quarterly' dictionaries)
sh_raw = stock_data.get('shareholding', [])
df_sh_initial = pd.DataFrame(sh_raw)

if not df_sh_initial.empty and 'quarterly' in df_sh_initial.columns:
    # Expand the 'quarterly' column into a new DataFrame
    df_shareholding = pd.DataFrame(list(df_sh_initial['quarterly']))

    # Set the first column (usually name like 'Promoters+') as index
    # We find the name column (often empty string '' or 'Name')
    name_col = [c for c in df_shareholding.columns if isinstance(c, str) and not any(char.isdigit() for char in c)][0]
    df_shareholding.set_index(name_col, inplace=True)
else:
    df_shareholding = pd.DataFrame()

df_shareholding.head()

,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025,Jun 2025,Sep 2025,Dec 2025
,,,,,,,,,,,,
Promoters +,33.90,33.90,33.90,33.70,33.19,33.19,33.19,33.19,33.19,33.19,33.19,33.19
FIIs +,20.62,20.28,20.31,20.01,19.61,19.68,19.25,18.53,18.29,17.22,17.29,17.49
DIIs +,20.68,20.96,22.20,23.15,23.51,23.33,22.67,23.52,24.48,26.07,26.92,26.98
Government +,0.16,0.16,0.16,0.16,0.16,0.18,0.18,0.18,0.18,0.18,0.18,0.18
Public +,24.63,24.70,23.43,22.99,23.52,23.60,24.69,24.55,23.84,23.31,22.42,22.14

**Using the above data on LLM to get analysis**

In [25]:
import openai

In [26]:
OPEN_AI_KEY = userdata.get('OPEN_AI_KEY')
if OPEN_AI_KEY:
    print("OPEN_AI_KEY value fetched")
else:
    print('Not able to fetch the key')

# Set your API Key
openai.api_key = OPEN_AI_KEY

OPEN_AI_KEY value fetched

In [29]:
def analyze_stock_with_llm(company_name, df_pl, df_bs, df_cf, df_sh, df_q):
    # Convert DataFrames to Markdown strings for the LLM to read easily
    data_payload = f"""
    Company Name: {company_name}

    1. PROFIT & LOSS STATEMENT (Annual):
    {df_pl.to_markdown()}

    2. BALANCE SHEET:
    {df_bs.to_markdown()}

    3. CASH FLOW STATEMENT:
    {df_cf.to_markdown()}

    4. SHAREHOLDING PATTERN:
    {df_sh.to_markdown()}

    5. QUARTERLY PERFORMANCE:
    {df_q.to_markdown()}
    """

    prompt = f"""
    You are an expert equity research analyst specializing in the Indian Stock Market.
    Analyze the provided financial data for {company_name} and provide a summary for a potential investor.

    Please provide the analysis under these 4 specific headings:

    1) STRENGTHS AND WEAKNESSES: Based strictly on the provided financial statements (P&L, Balance Sheet, Cash Flow, Shareholding).
    2) INDUSTRY OUTLOOK: Provide the Global and Local (India-specific) outlook for the industry this stock belongs to.
    3) GOVERNMENT POLICY/Intentions: Mention any specific Indian government policies new launched if any (e.g., PLI schemes, Budget allocations, Export duties, etc.,) that impact this sector.
    4) INVESTMENT OUTLOOK: Provide a perspective for:
       - Short-term (Few weeks)
       - Medium-term (Few months)
       - Long-term (Few years)
    Follow the below giudelines for the output:
    - Each point returned MUST be under 5-10 words, keep it small to the point.
    - Mention numbers if possible wherever possible.
    - If no new significant policy is made then return "NA"
    - Just return the required text no greetings or closing statements.


    DATA:
    {data_payload}
    """

    try:
        response = openai.chat.completions.create(
            model="gpt-4.1-nano", # "gpt-4o",  # or "gpt-3.5-turbo"
            messages=[
                {"role": "system", "content": "You are a helpful and insightful financial analyst."},
                {"role": "user", "content": prompt}
            ],
            temperature=0.2 # Lower temperature for more factual analysis
        )
        return response.choices[0].message.content
    except Exception as e:
        return f"Error connecting to LLM: {e}"

In [30]:
# --- EXECUTION ---
# Assuming you already have your DataFrames: df_pl, df_bs, df_cf, df_sh, df_quarters
analysis_report = analyze_stock_with_llm("Tata Steel Ltd", df_pl, df_bs, df_cf, df_shareholding, df_quarters)

print(analysis_report)

1) STRENGTHS AND WEAKNESSES:
- Strong revenue growth in FY24, Rs. 229K Cr.
- Operating margin improved to 14% FY24.
- Net profit turned positive after FY22.
- High debt levels, borrowings Rs. 95,643 Cr.
- Fluctuating profitability, net profit Rs. 9.1K Cr FY24.
- Consistent dividend payout, ~50% FY23-FY24.
- Cash flow from operations healthy, Rs. 23.5K Cr FY24.
- Increasing depreciation, Rs. 11,406 Cr FY24.
- Shareholding stable, promoter 33.19%, FIIs 17.49%.

2) INDUSTRY OUTLOOK:
- Global steel demand rising, 3-4% CAGR.
- India steel demand growth ~7% annually.
- Steel prices volatile, impacted by global supply.
- Focus on infrastructure, auto, construction sectors.
- Green steel initiatives gaining momentum.

3) GOVERNMENT POLICY/INTENTIONS:
- NA

4) INVESTMENT OUTLOOK:
- Short-term: Cautious, volatile prices.
- Medium-term: Positive, demand recovery.
- Long-term: Favorable, green steel shift.

Observations and Changes to be done:
- Very long output, we want just few words in every point
- Govt Policy/Outlook for sector needs to be very short, put numbers in that if any
- No extra sentence like starting and ending

In [4]:
import yfinance as yf
stock = yf.Ticker("RELIANCE.NS")
print('Trailing PE:',stock.info['trailingPE'])  # PE
print('Debt to equity:',stock.info['debtToEquity'])  # Debt/Equity
roe = stock.info.get('returnOnEquity')
print('ROE:', roe if roe is not None else 'Not available')
print('Cashflow',stock.cashflow)  # Cash flow ratios

Trailing PE: 23.378883
Debt to equity: 35.651
ROE: Not available

**Appendix**

**Tradingview Data Analysis**

In [32]:
!pip install tradingview-screener

Collecting tradingview-screener
  Downloading tradingview_screener-3.0.0-py3-none-any.whl.metadata (9.9 kB)
Requirement already satisfied: pandas==2.* in /usr/local/lib/python3.12/dist-packages (from tradingview-screener) (2.2.2)
Requirement already satisfied: requests==2.* in /usr/local/lib/python3.12/dist-packages (from tradingview-screener) (2.32.4)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas==2.*->tradingview-screener) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas==2.*->tradingview-screener) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas==2.*->tradingview-screener) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas==2.*->tradingview-screener) (2025.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests==2.*->tradingview-screener) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests==2.*->tradingview-screener) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests==2.*->tradingview-screener) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests==2.*->tradingview-screener) (2026.1.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas==2.*->tradingview-screener) (1.17.0)
Downloading tradingview_screener-3.0.0-py3-none-any.whl (19 kB)
Installing collected packages: tradingview-screener
Successfully installed tradingview-screener-3.0.0

In [45]:
from tradingview_screener import Query, column, Column

In [41]:
df = (Query()
      .set_markets('india')
      .select('name', 'close', 'RSI', 'SMA20')
      .limit(10)  # small sample
      .get_scanner_data())

print(df)

(7943,            ticker        name    close        RSI      SMA20
0         NSE:BSE         BSE  2804.60  47.124398  2852.6500
1  NSE:ENGINERSIN  ENGINERSIN   226.62  75.408783   178.7875
2  NSE:NATCOPHARM  NATCOPHARM   881.45  57.294188   834.4275
3        NSE:INFY        INFY  1365.60  20.086529  1569.3950
4        NSE:SBIN        SBIN  1208.10  79.039046  1089.7100
5    NSE:HDFCBANK    HDFCBANK   925.80  44.287381   930.0025
6  NSE:SILVERBEES  SILVERBEES   227.34  44.416982   267.6000
7         NSE:MCX         MCX  2339.70  48.779245  2411.8950
8       NSE:GROWW       GROWW   170.24  52.827307   169.3140
9    NSE:RELIANCE    RELIANCE  1437.10  47.944269  1418.5350)

In [51]:
df[1]

           ticker        name    close        RSI      SMA20
0         NSE:BSE         BSE  2804.60  47.124398  2852.6500
1  NSE:ENGINERSIN  ENGINERSIN   226.62  75.408783   178.7875
2  NSE:NATCOPHARM  NATCOPHARM   881.45  57.294188   834.4275
3        NSE:INFY        INFY  1365.60  20.086529  1569.3950
4        NSE:SBIN        SBIN  1208.10  79.039046  1089.7100
5    NSE:HDFCBANK    HDFCBANK   925.80  44.287381   930.0025
6  NSE:SILVERBEES  SILVERBEES   227.34  44.416982   267.6000
7         NSE:MCX         MCX  2339.70  48.779245  2411.8950
8       NSE:GROWW       GROWW   170.24  52.827307   169.3140
9    NSE:RELIANCE    RELIANCE  1437.10  47.944269  1418.5350

In [55]:
total_count, df_tech = (Query()
      .set_markets('india')   # crucial for NSE/BSE
      .select('name', 'close', 'volume',
              'SMA20', 'SMA50', 'EMA20', 'EMA50',
              'RSI', 'MACD.macd', 'MACD.signal')
      .where(Column('name') == 'INFY')
      .get_scanner_data())
df_tech.head()

,ticker,name,close,volume,SMA20,SMA50,EMA20,EMA50,RSI,MACD.macd,MACD.signal
0,NSE:INFY,INFY,1365.60,14621891,1569.395,1602.842,1526.962331,1568.413247,20.086529,-61.942324,-33.971374
1,BSE:INFY,INFY,1366.25,834292,1569.575,1602.896,1527.225288,1568.516116,20.690703,-61.761200,-33.859120

In [29]:
# 1. Define the financial fields you want to retrieve
# TradingView uses specific internal names for these metrics
financial_fields = [
    'name',
    'description',
    # Profit & Loss (Income Statement)
    'total_revenue', 'gross_profit', 'net_income', 'operating_margin',
    # Balance Sheet
    'total_assets', 'total_liabilities', 'total_debt', 'total_equity',
    # Cash Flow
    'cash_f_operating_activities', 'cash_f_investing_activities', 'cash_f_financing_activities', 'free_cash_flow'
]

# 2. Build the query for the Indian market (NSE or BSE)
# We filter for a specific ticker to get its unique data
ticker = "TATASTEEL"
query = (
    Query()
    .set_markets('india')
    .select(*financial_fields)
    .where(Column('name') == ticker)
)

# 3. Execute and process into a DataFrame
data, count = query.get_scanner_data()

if count > 0:
    # Convert list of rows to DataFrame
    df = pd.DataFrame(data)

    # Optional: Transpose for a "Statement" view (Metrics as rows)
    df_statement = df.transpose()
    df_statement.columns = [ticker]

    print(f"Financial Data for {ticker}:")
    print(df_statement)
else:
    print(f"No data found for ticker: {ticker}")

HTTPError: 400 Client Error: Bad Request
 Body: {"totalCount":0,"error":"Unknown field \"total_liabilities\"","data":null}
 for url: https://scanner.tradingview.com/india/scan

**Code for EODHD Data**

In [5]:
from google.colab import userdata

# Replace 'YOUR_SECRET_NAME' with the exact name you used in the Secrets panel
EODHD_KEY = userdata.get('EODHD')
if EODHD_KEY:
    print("EODHD_KEY fetched")

EODHD_KEY fetched

In [10]:
def fetch_eodhd_data(EODHD_KEY):
    api_key = EODHD_KEY
    if not api_key:
        print("No API key provided.")
        return

    # symbol = input("Enter symbol (e.g. RELIANCE.NS, TCS.NS, HDFCBANK.NS): ").strip().upper()
    # if "." not in symbol:
    #     symbol += ".NS"   # default to NSE (best for India)

    symbol = "RELIANCE.NS"

    # API base URL
    base = "https://eodhd.com/api"

    print(f"\nFetching data for {symbol}...\n")

    # 1. Fundamentals (all statements + ratios in one call)
    print("\u2192 Fundamentals...")
    url = f"{base}/fundamentals/{symbol}?api_token={api_key}&fmt=json"
    r = requests.get(url, timeout=15)

    # Debugging: Print raw response text if JSON decoding fails
    try:
        data = r.json()
    except requests.exceptions.JSONDecodeError as e:
        print(f"JSONDecodeError: {e}")
        print(f"Raw API Response: {r.text}")
        return

    if "General" not in data:
        print("Error:", data.get("message", "Invalid key or symbol"))
        return

    gen = data.get("General", {})
    print(f"Company : {gen.get('Name')} ({gen.get('Code')})")
    print(f"Exchange: {gen.get('Exchange')} | Sector: {gen.get('Sector')}")

    fin = data.get("Financials", {})

    def latest_report(section, key):
        reports = fin.get(section, {}).get("yearly", [])
        if reports:
            latest = reports[0]
            return latest.get(key, "N/A")
        return "N/A"

    print("\nIncome Statement (Latest Annual)")
    print("  Revenue      :", latest_report("Income_Statement", "totalRevenue"))
    print("  Net Income   :", latest_report("Income_Statement", "netIncome"))
    print("  EPS          :", latest_report("Income_Statement", "eps"))

    print("\nBalance Sheet (Latest Annual)")
    print("  Total Assets :", latest_report("Balance_Sheet", "totalAssets"))
    print("  Total Debt   :", latest_report("Balance_Sheet", "totalDebt"))
    print("  Equity       :", latest_report("Balance_Sheet", "totalStockholderEquity"))

    print("\nCash Flow (Latest Annual)")
    print("  Operating CF :", latest_report("Cash_Flow", "operatingCashFlow"))
    print("  Investing CF :", latest_report("Cash_Flow", "investingCashFlow"))
    print("  Financing CF :", latest_report("Cash_Flow", "financingCashFlow"))

    # Key Ratios
    ratios = data.get("Highlights", {}) or data.get("Valuation", {})
    print("\nKey Ratios")
    print("  Trailing P/E :", ratios.get("trailingPE", "N/A"))
    print("  Forward P/E  :", ratios.get("forwardPE", "N/A"))
    print("  P/B          :", ratios.get("priceToBook", "N/A"))
    print("  ROE          :", ratios.get("returnOnEquity", "N/A"))
    print("  Debt/Equity  :", ratios.get("debtToEquity", "N/A"))

    # 2. Technical Indicators (latest values only)
    print("\n\u2192 Technical Indicators (Latest)")
    indicators = [
        ("sma",  "SMA(50)",   {"function": "sma",  "period": 50,  "filter": "last_sma"}),
        ("ema",  "EMA(20)",   {"function": "ema",  "period": 20,  "filter": "last_ema"}),
        ("rsi",  "RSI(14)",   {"function": "rsi",  "period": 14,  "filter": "last_rsi"}),
        ("macd", "MACD",      {"function": "macd", "filter": "last_macd"})
    ]

    for code, name, params in indicators:
        url = f"{base}/technical/{symbol}"
        params["api_token"] = api_key
        params["fmt"] = "json"
        r = requests.get(url, params=params, timeout=10)
        res = r.json()

        if isinstance(res, dict) and "error" not in res:
            val = list(res.values())[0] if res else "N/A"
            print(f"  {name:10}: {val}")
        else:
            print(f"  {name:10}: Error fetching")

    print(f"\nDone for {symbol} at {datetime.now().strftime('%Y-%m-%d %H:%M')}")

In [11]:
if __name__ == "__main__":
    print("EODHD API - Fundamentals + Technicals Checker (India Stocks)\n")
    fetch_eodhd_data(EODHD_KEY)

EODHD API - Fundamentals + Technicals Checker (India Stocks)


Fetching data for RELIANCE.NS...

→ Fundamentals...
JSONDecodeError: Expecting value: line 1 column 1 (char 0)
Raw API Response: Only EOD data allowed for free users. Please, contact our support team: support@eodhistoricaldata.com